*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family: arial;
    background-color: aqua;
}

#mainstopwatch{
    width: 700px;
    margin: 100px auto;
    padding: 60px 50px 100px;
    text-align: center;
    font-size: 40px;
    background: peachpuff;
    box-shadow: 15px 15px 30px #ffffff,
                15px -15px 30px #ffffff;
                border-radius: 40px;
 
    box-shadow: 6px -6px 5px white ,
                -6px 6px 5px #ffffff;
}
.sub-class{
    margin-top:50px;
}

#mainstopwatch span{
    
    background:white;
    color: black;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
   margin: 3px;
    display: inline-block;
    border-radius: 20px;
background:white;
box-shadow: 6px -6px 5px rgb(218, 214, 214),
            -6px 6px 40px white;
}



#mainstopwatch button{
    font-size: 22px;
    border: none;
    background-color: #2eb0b3;
    color: white;
    width: 140px;
    -webkit-appearance: none;
    height: 55px;
    transition: .3s;
    border-radius: 33px;
box-shadow: 6px -6px 8px #9d9d9d,
            -6px 6px 8px white;
}

#mainstopwatch button:last-child{
    background-color:violet;
}
#mainstopwatch button:hover{
   background: white;
   color: #0e0e0e;
   border-radius:35px;
   cursor: pointer;
   
   
}
@media screen and (max-width:420px){

    #mainstopwatch{
       width: 80vw;
      padding: 50px;

    }
    .main-class{
        width: 40px;
        display: flex;
       align-items: center;
       margin-left: 20px;
      
       
    }

    .sub-class button{
        margin:20px;
       
    }

}